In [2]:
import pandas as pd
import numpy as np

portland_e = pd.read_csv('Portland_elementary_school.csv')
portland_e['zipcode'] = portland_e['address'].str.split(' ')
portland_e['zipcode'] = map(lambda L: L[-1],portland_e['zipcode'])
port_e = map(lambda x,y:[x,y],portland_e.zipcode,portland_e.rating)
port_e = pd.DataFrame(port_e, columns=['zipcode','elementary_rating'])

portland_m = pd.read_csv('Portland_middle_school.csv')
portland_m['zipcode'] = portland_m['address'].str.split(' ')
portland_m['zipcode'] = map(lambda L: L[-1],portland_m['zipcode'])
port_m = map(lambda x,y:[x,y],portland_m.zipcode,portland_m.rating)
port_m = pd.DataFrame(port_m, columns=['zipcode','middle_rating'])

portland_h = pd.read_csv('Portland_school_high.csv')
portland_h['zipcode'] = portland_h['address'].str.split(' ')
portland_h['zipcode'] = map(lambda L: L[-1],portland_h['zipcode'])
port_h = map(lambda x,y:[x,y],portland_h.zipcode,portland_h.rating)
port_h = pd.DataFrame(port_h, columns=['zipcode','high_rating'])


vancouver_e = pd.read_csv('Vancouver_elementary_school.csv')
vancouver_e['zipcode'] = vancouver_e['address'].str.split(' ')
vancouver_e['zipcode'] = map(lambda L: L[-1],vancouver_e['zipcode'])
vanc_e = map(lambda x,y:[x,y],vancouver_e.zipcode,vancouver_e.rating)
vanc_e = pd.DataFrame(vanc_e, columns=['zipcode','elementary_rating'])

vancouver_m = pd.read_csv('Vancouver_school_middle.csv')
vancouver_m['zipcode'] = vancouver_m['address'].str.split(' ')
vancouver_m['zipcode'] = map(lambda L: L[-1],vancouver_m['zipcode'])
vanc_m = map(lambda x,y:[x,y],vancouver_m.zipcode,vancouver_m.rating)
vanc_m = pd.DataFrame(vanc_m, columns=['zipcode','middle_rating'])

vancouver_h = pd.read_csv('Vancouver_school_high.csv')
vancouver_h['zipcode'] = vancouver_h['address'].str.split(' ')
vancouver_h['zipcode'] = map(lambda L: L[-1],vancouver_h['zipcode'])
vanc_h = map(lambda x,y:[x,y],vancouver_h.zipcode,vancouver_h.rating)
vanc_h = pd.DataFrame(vanc_h, columns=['zipcode','high_rating'])

In [3]:
port_em = pd.merge(port_e, port_m, how ='outer', on= 'zipcode')
vanc_em = pd.merge(vanc_e, vanc_m, how ='outer', on= 'zipcode')
print len(port_e), len(port_m), len(port_em)
print port_em.head(10)

105 59 256
  zipcode  elementary_rating  middle_rating
0   97229                 10           10.0
1   97229                 10            9.0
2   97229                 10           10.0
3   97229                 10            9.0
4   97229                 10           10.0
5   97229                 10            9.0
6   97229                 10           10.0
7   97229                 10            9.0
8   97229                 10           10.0
9   97229                 10            9.0

In [4]:
port = pd.merge(port_em, port_h, how='outer', on='zipcode')
port['city']='Portland'
vanc = pd.merge(vanc_em, vanc_h, how='outer', on='zipcode')
vanc['city']='Vancouver'
cama = {'zipcode': [98607],
         'elementary_rating':[10],
         'middle_rating':[9],
         'high_rating':[8]
        }
#camas = pd.DataFrame(cama)
camas = pd.DataFrame.from_dict(cama)
camas['city']='Vancouver'


school = pd.concat([port,vanc,camas], axis = 0)
print len(school)

443

In [16]:
#print port
print len(school)
print type(school)
print map(type,school)
school = school.dropna()
print len(school)

315
<class 'pandas.core.frame.DataFrame'>
[<type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>, <type 'str'>]
315

In [17]:
print school

          city  elementary_rating  high_rating  middle_rating zipcode
0     Portland               10.0          9.0           10.0   97229
1     Portland               10.0          8.0           10.0   97229
2     Portland               10.0          9.0            9.0   97229
3     Portland               10.0          8.0            9.0   97229
4     Portland               10.0          9.0           10.0   97229
5     Portland               10.0          8.0           10.0   97229
6     Portland               10.0          9.0            9.0   97229
7     Portland               10.0          8.0            9.0   97229
8     Portland               10.0          9.0           10.0   97229
9     Portland               10.0          8.0           10.0   97229
10    Portland               10.0          9.0            9.0   97229
11    Portland               10.0          8.0            9.0   97229
12    Portland               10.0          9.0           10.0   97229
13    Portland               10.0          8.0           10.0   97229
14    Portland               10.0          9.0            9.0   97229
15    Portland               10.0          8.0            9.0   97229
16    Portland               10.0          9.0           10.0   97229
17    Portland               10.0          8.0           10.0   97229
18    Portland               10.0          9.0            9.0   97229
19    Portland               10.0          8.0            9.0   97229
20    Portland                9.0          9.0           10.0   97229
21    Portland                9.0          8.0           10.0   97229
22    Portland                9.0          9.0            9.0   97229
23    Portland                9.0          8.0            9.0   97229
24    Portland                9.0          9.0           10.0   97229
25    Portland                9.0          8.0           10.0   97229
26    Portland                9.0          9.0            9.0   97229
27    Portland                9.0          8.0            9.0   97229
28    Portland                8.0          9.0           10.0   97229
29    Portland                8.0          8.0           10.0   97229
..         ...                ...          ...            ...     ...
67   Vancouver                3.0          3.0            2.0   98661
68   Vancouver                6.0          8.0            8.0   98686
69   Vancouver                6.0          8.0            7.0   98686
70   Vancouver                5.0          8.0            8.0   98686
71   Vancouver                5.0          8.0            7.0   98686
72   Vancouver                6.0          4.0            5.0   98682
73   Vancouver                6.0          4.0            5.0   98682
74   Vancouver                6.0          4.0            5.0   98682
75   Vancouver                3.0          4.0            5.0   98682
76   Vancouver                3.0          4.0            5.0   98682
77   Vancouver                3.0          4.0            5.0   98682
78   Vancouver                6.0         10.0           10.0   98663
79   Vancouver                6.0          3.0           10.0   98663
80   Vancouver                6.0         10.0            2.0   98663
81   Vancouver                6.0          3.0            2.0   98663
82   Vancouver                4.0         10.0           10.0   98663
83   Vancouver                4.0          3.0           10.0   98663
84   Vancouver                4.0         10.0            2.0   98663
85   Vancouver                4.0          3.0            2.0   98663
86   Vancouver                3.0         10.0           10.0   98663
87   Vancouver                3.0          3.0           10.0   98663
88   Vancouver                3.0         10.0            2.0   98663
89   Vancouver                3.0          3.0            2.0   98663
100  Vancouver                5.0          7.0            2.0   98664
101  Vancouver                5.0          2.0            2.0   98664
102  Vancouver                3.0          7.0            2.0   98664
103  Vancouver                3.0          2.0            2.0   98664
104  Vancouver                2.0          7.0            2.0   98664
105  Vancouver                2.0          2.0            2.0   98664
0    Vancouver               10.0          8.0            9.0   98607

[315 rows x 5 columns]

In [20]:
# reorganize the dataframe of school.
school_g = school.groupby(['zipcode']).mean()                         
school_g['zipcode'] = school_g.index
school_g.index = range(len(school_g))
school_g = school_g[['zipcode','elementary_rating','middle_rating','high_rating']]
school_g

   zipcode  elementary_rating  middle_rating  high_rating
0    98607          10.000000       9.000000          8.0
1    97202           9.000000       9.500000          6.0
2    97206           5.750000       4.500000          6.0
3    97212           8.750000       8.250000          7.0
4    97214           9.000000       8.000000          5.0
5    97217           4.800000       4.500000          4.0
6    97219           9.000000       9.500000          8.5
7    97220           4.000000       3.333333          4.5
8    97229           9.500000       9.500000          8.5
9    97232          10.000000       9.500000          4.0
10   97233           2.500000       1.000000          2.5
11   98661           4.333333       2.000000          3.0
12   98663           4.333333       6.000000          6.5
13   98664           3.333333       2.000000          4.5
14   98665           6.333333       5.000000          8.0
15   98682           4.500000       5.000000          4.0
16   98683           6.666667       6.000000          8.0
17   98684           5.142857       4.000000          3.5
18   98685           7.500000       7.000000          5.0
19   98686           5.500000       7.500000          8.0

In [53]:
#print school_g.keys()


def city(zipcode):
    if str(zipcode)[0:2]=='97':
        return 'Portland OR'
    elif str(zipcode)[0:2]=='98':
        return 'Vancouver WA'
 
print school_g['zipcode'][0]
print city(str(school_g['zipcode'][1]))
#map(city, school_g['zipcode'])
school_g['city'] = pd.DataFrame(map(city, school_g['zipcode']))
school_g

98607
Portland OR

   zipcode  elementary_rating  middle_rating  high_rating          city
0    98607          10.000000       9.000000          8.0  Vancouver WA
1    97202           9.000000       9.500000          6.0   Portland OR
2    97206           5.750000       4.500000          6.0   Portland OR
3    97212           8.750000       8.250000          7.0   Portland OR
4    97214           9.000000       8.000000          5.0   Portland OR
5    97217           4.800000       4.500000          4.0   Portland OR
6    97219           9.000000       9.500000          8.5   Portland OR
7    97220           4.000000       3.333333          4.5   Portland OR
8    97229           9.500000       9.500000          8.5   Portland OR
9    97232          10.000000       9.500000          4.0   Portland OR
10   97233           2.500000       1.000000          2.5   Portland OR
11   98661           4.333333       2.000000          3.0  Vancouver WA
12   98663           4.333333       6.000000          6.5  Vancouver WA
13   98664           3.333333       2.000000          4.5  Vancouver WA
14   98665           6.333333       5.000000          8.0  Vancouver WA
15   98682           4.500000       5.000000          4.0  Vancouver WA
16   98683           6.666667       6.000000          8.0  Vancouver WA
17   98684           5.142857       4.000000          3.5  Vancouver WA
18   98685           7.500000       7.000000          5.0  Vancouver WA
19   98686           5.500000       7.500000          8.0  Vancouver WA

In [44]:
'98607'[0:2]

'98'

In [54]:
import os, csv
with open("school.csv", "w") as toWrite:
    writer = csv.writer(toWrite, delimiter=",")
    writer.writerow(school_g.keys())
    for i in range(len(school_g)):
        writer.writerow(school_g.values[i])